@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --color-one: #efefef;
    --color-two: #f8d9c4;
    --color-text: #313131;

    --font: 'DM Sans', sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}


.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


@media (max-width:1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width:576px) {
    .container {
        max-width: 100%;
        /* padding-left: 10px;
        padding-right: 10px; */

        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}